{{#if error}}
  <section class="notifications">
    <p class="notification-message">Message...</p>
  </section>
{{/if}}
<main>


  {{#if user}}
    <h1 class="text-center">Courses</h1>
    <section>
      <a href="/course/create" class="btn btn-warning">Create Course</a>
      <form class="search float-right">
        <label>Search: </label>
        <input type="text" />
        <input type="submit" class="btn btn-primary" value="Search" />
      </form>
    </section>
  {{else}}
       <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Tutorials</h1>
                    <p class="lead">Start Self-Learning Today: Be the best Developer in the company</p>
                </div>
            </div>
            <h1 class="text-center">Courses</h1>
  {{/if}}

  {{! TODO MAKE NO COURSES }}

  <div class="container mt-3">
    <div class="row">
      <div class="card-deck d-flex justify-content-center">
          {{> courseCards}}
      </div>
    </div>
  </div>

  {{! <h3 class="text-center">No courses...</h3> }}

</main>