* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: wheat;
  flex-direction: column;
  align-items: center;
  padding: 20px 450px;
  gap: 50px;
}
p {
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

ul li {
  background-color: #ccc;
  padding: 5px 20px;
}
a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: lightgray;
}
.container {
  background-color: rgb(113, 113, 6);
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  gap: 10px;
  /* justify-content: center; */
}
@media screen and (max-width: 1540px) {
  .container {
    padding: 20px 100px;
  }
}
.list-article {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 20px;
}

.list-article header {
  text-align: center;
}
.list-article footer {
  display: flex;
  justify-content: space-between;
}
.list-article li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  /* font-size: 26px; */
  gap: 5px;
  border: none;
}

form input {
  padding: 10px 0px;
  font-size: 20px;
}
form textarea {
  resize: none;
  padding: 10px 0px;
  font-size: 16px;
}

form button {
  width: 80px;
  font-size: 20px;
  align-self: center;
}
.comments_btn {
  background-color: white;
  padding: 3px 10px;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  justify-self: center;
}

.article_comments {
  background-color: #ccc;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.comments {
  background-color: white;
  padding: 5px 20px;
  align-self: start;
  border-radius: 15px;
}

.comment_section input {
  font-size: 16px;
}

.comment_section {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.error_msg {
  color: red;
  font-size: 16px;
}
