<h1>Create Page</h1>
<p>Product details</p>
<form method="POST">
  <input type="text" placeholder="Product name" name="name" />
  <input type="number" placeholder="Product price" name="price" />
  <button>Add item</button>

</form>