<div class="container">
  <ul class="list-article">
    {{#each articles}}
      <li>
        <header> {{title}}</header>
        <main>{{content}}</main>
      
        <footer><a class="comments_btn" href="/comments/{{_id}}">Comments</a><p
            class="author"
          >Author:
            {{author}}</p></footer>
      </li>
    {{/each}}
  </ul>
</div>