<div class="container">
  <ul class="list-article">
    {{#each articles}}
      <li>
        <header> {{title}}</header>
        <main>{{content}}</main>
        <footer>Author: {{author}}</footer>
      </li>
    {{/each}}
  </ul>
</div>