<div class="container">
  <h1>Create new article</h1>
  <form method="post">
    <input type="text" placeholder="Title..." name="title" value="" />
    <textarea
      placeholder="You'r story..."
      name="content"
      cols="30"
      rows="10"
      value=""
    ></textarea>
    <input type="text" placeholder="Author..." name="author" value="" />
    <button>Publish</button>
  </form>

</div>