<div class="container">
  <div class="article_comments">
    {{#with article}}
      <p>{{title}}</p>
      <p>{{content}}</p>
    {{/with}}
  </div>
  <div class="comment_section">
    <p>Leave a comment</p>
    <form method="post">
      <input
        type="text"
        placeholder="Share your thoughts..."
        value=""
        name="content"
      />
      <button>Publish</button>

    </form>
  </div>
  {{#each comments}}
    <div class="comments">
      <p>{{author}}: {{content}}</p>
    </div>
  {{/each}}
</div>