<div class="container edit_page">
  <h2 class="page_header">Are you sure ?</h2>
  <form method="post">
    <a class="delete_btn a_btn" href="/published" type="button">No</a>
    <button type="submit" class="delete_btn btn_btn">Yes</button>
  </form>
</div>