<div class="container">
  <h1 class="page_header">Edit article</h1>
  <form method="post">
    {{#with article}}
      <input
        type="text"
        placeholder="Title..."
        name="title"
        value="{{title}}"
      />
      <textarea
        placeholder="You'r story..."
        name="content"
        cols="30"
        rows="10"
        value="{{content}}"
      >{{content}}</textarea>
    {{/with}}
    <button class="btn_action">Save</button>
  </form>
</div>