<div class="container">

  <h2>Login</h2>
  {{#if error}}
    <p class="error_msg">{{error}}</p>
  {{/if}}
  <form method="post">
    <input type="text" name="username" placeholder="Username..." />
    <input type="password" name="password" placeholder="Password..." />
    <button type="submit">Login</button>
  </form>
</div>