<div class="container">
  <form method="post">
    <input type="text" name="username" placeholder="Username..." />
    <input type="password" name="password" placeholder="Password..." />
    <input type="password" name="repass" placeholder="Repeat password..." />
    <button type="submit">Register</button>
  </form>
</div>