<div class="container">
  <h1 class="page_header">Register</h1>
  {{#if error}}
    <p class="error_msg">{{error}}</p>
  {{/if}}
  <form method="post">
    <input type="text" name="username" placeholder="Username..." />
    <input type="password" name="password" placeholder="Password..." />
    <input type="password" name="repass" placeholder="Repeat password..." />
    <button type="submit" class="btn_action">Sign up</button>
  </form>
</div>